    body {
        background-image: linear-gradient (to right, rgb(89, 130, 219), rgb(9, 33, 253)); 
        font-family: Arial, Helvetica, sans-serif;
    }

    .box {
        color: white;
        position: absolute;
        top:55%;
        left: 50%;
        transform: translate(-50%, -50%); 
        background-color: rgba(0, 0, 0, 0.6); 
        padding: 15px; 
        border-radius: 15px;
        width: 30%
    }

    fieldset {
        border: 3px solid dodgerblue;
    }